<launch>
	<node 
		pkg = "arm_manipulation"
		type = "grasping_test"
		name = "grasping_test"
		output = "screen"
	>
		<param name="camera_offset_x" type="double" value="0.0262079" />
		<param name="camera_offset_y" type="double" value="0.0113468" />
		<param name="camera_offset_z" type="double" value="-0.015" />
	</node>

</launch>