<launch>
	<node 
		pkg = "arm_manipulation"
		type = "move_by_camera"
		name = "move_by_camera"
		output = "screen"
	>
		<param name="camera_offset_x" type="double" value="-0.00508105" />
		<param name="camera_offset_y" type="double" value="0" />
		<param name="camera_offset_z" type="double" value="-0.0169607" />
	</node>

</launch>